#marvelWidget {
	border: 3px solid #330000;
	border-radius: 12px;
	background-color: #E8D1D1;
	display: inline-block;
	width: 600px;
}

ul.tabs {
	list-style-type: none;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

ul.tabs li {
	display: inline-block;
	background-color: #E6E6E6;
	background-image: url("../res/scan_lines.png");
	background-repeat: repeat-x;
	border-bottom: solid 5px #330000;
	padding: 5px 20px;
	margin-bottom: 4px;
	color: #4C0000;
	cursor: pointer;
}

ul.tabs li:hover {
	background-color: #238b68;
}

ul.tabs li.active {
	background-color: #D9B2B2;
	color: #000;
}

ul.tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.tab li {
	display: none;
}

ul.tab li.active {
	display: block;
	padding: 9px;
}

.characterName {
	font-size: 200%;
	font-style: italic;
	padding: 9px;
}

.characterDesc {
	text-align: justify;
	padding: 9px;
}

.characterImg img {
	border: 2px solid #330000;
	margin: 1em;
	width: 95%;
}

.eventName {
	font-size: 200%;
	font-style: italic;
	padding: 9px;
}

.eventDesc {
	text-align: justify;
	padding: 9px;
}

.eventImg img {
	border: 2px solid #330000;
	margin: 1em;
	width: 95%;
}

.error {
	color: red;
}

.info h1 {
	font-size: 110%;
	font-style: italic;
	padding: 9px;
}

.info p {
	font-size: 100%;
	font-style: italic;
	padding-left: 9px;
	padding-right: 9px;
}

.details h4 {
	font-size: 105%;
	font-style: italic;
	padding-left: 9px;
	padding-right: 9px;
}

.details .relatedComicList {
	padding-left: 15px;
	padding-bottom: 8px;
}

.details .relatedEventList {
	padding-left: 15px;
	padding-bottom: 8px;
}

.details .relatedCharacterList {
	padding-left: 15px;
	padding-bottom: 8px;
}
